.customField {
  position: relative;
  font-size: 20px;
  padding-top: 20px;
  margin-bottom: 5px;
  margin: 0 auto;
}

.customField input {
  color: white;
  padding: 12px 20px;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 2px solid white;
  width: 100%;
  border-radius: 30px;
  outline: none;
}

.customField .placeholder {
  position: absolute;
  left: 25px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: rgb(148, 148, 148);
  transition:
    top 0.3s ease,
    font-size 0.3s ease,
    color 0.3s ease;
}

.customField input:focus + .placeholder,
.customField input:valid + .placeholder {
  top: 3px;
  font-size: 15px;
  color: white;
  background: black;
}

/* customFieldNewPassword */

.customFieldNewPassword {
  position: relative;
  font-size: 16px;
  padding-top: 20px;
  margin-bottom: 5px;
  margin: 0 auto;
}

.customFieldNewPassword input {
  color: white;
  padding: 12px 20px;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 2px solid white;
  width: 100%;
  border-radius: 30px;
  outline: none;
}

.customFieldNewPassword .placeholder {
  position: absolute;
  left: 25px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: rgb(148, 148, 148);
  transition:
    top 0.3s ease,
    font-size 0.3s ease,
    color 0.3s ease;
}

.customFieldNewPassword input:focus + .placeholder,
.customFieldNewPassword input:valid + .placeholder {
  top: 3px;
  font-size: 15px;
  color: white;
  background: black;
}

/* Email Ticket Input */

.customFieldEmail {
  position: relative;
  font-size: 16px;
  padding-top: 20px;
  margin-bottom: 5px;
  margin: 0 auto;
}

.customFieldEmail input {
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 2px solid #24a0ed5d;
  width: 100%;
  border-radius: 30px;
  outline: none;
  transition: border 0.4s ease-in-out;
}

.customFieldEmail .placeholder {
  position: absolute;
  left: 25px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: rgb(148, 148, 148);
  transition:
    top 0.3s ease,
    font-size 0.3s ease,
    color 0.3s ease;
}

.customFieldEmail input:focus + .placeholder,
.customFieldEmail input:valid + .placeholder {
  top: 3px;
  font-size: 14px;
  color: black;
  background: white;
}

.customFieldEmail input:focus,
.customFieldEmail input:valid {
  border: 2px solid #24a0ed;
}
