.long-text {
  max-height: 0;
  overflow: hidden;
  display: inline-block;
  transition: max-height 2s;
  overflow-wrap: break-word; /* ensures long words do not overflow */
  word-wrap: break-word;
  overflow-x: hidden;
}

.expanded {
  max-height: 100%;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-x: hidden;
}
