html[data-theme="voiturier"] {
    --color-primary: #E7FE55;
    --color-primary-content: black; 
    --color-secondary: #22c55e; 
    --color-base-content: #ffffff; 
    --color-base-100: black;
    ;
  }