@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.long-text {
  max-height: 0;
  overflow: hidden;
  display: inline-block;
  transition: max-height 1s ease-in-out;
}


.expanded {
  max-height: 100%;
  transition: max-height 1s ease-in-out;
}
